:root {
	--link-color: #D7B8F3;
	--second-link-color: #D4F3B9;
	/*--inner-radius: calc(4px + .35vw);
	--outer-radius: calc(8px + 1.35vw);*/
	background-color: #1D1F20;
	padding-right: 1.32vw;
	padding-left: 1.32vw;
	text-align: left;
	color: white;
	transition: all .4s ease-in-out;
	
	--selection-color: #D1BCFD;
	--text-color: #37265C;
}

hr.mid-spacer {
	color: #434140;
	background-color: #434140;
	margin: calc(14px + .3621vw) 0 calc(14px + .3621vw) 0;
	position:relative;
	z-index: -1;
}

.animate {
	opacity: 0;
	filter: blur(10px);
	transform: translateY(10%);
	transition: all .4s ease-in-out;
}
	
.show {
	opacity: unset;
	filter: unset;
	transform: unset;
}



@import "Text/Text";

@import "Header/Header";
@import "Footer/Footer";
@import "Panel/Panel";

@import "Accessiblity/Accessiblity";