@media (prefers-reduced-motion) {
	:root {
		--header-color: #fff;
		--hi-header-color: #fff;
		--second-link-color: var(--link-color);
	}
	
	.slideLeft {
		transform: translateX(0);
	}
	
	.slideRight {
		transform: translateX(0);
	}
	
	.slide {
		filter: unset;
		opacity: unset;
	}
	
	@media (scripting: none) or (prefers-reduced-motion)  or (not (update: fast)) {
		.animate {
			opacity: 1;
			filter: unset;
			transform: unset;
		}
	}
	
	@keyframes slideIn {
		from { background-position: 100%; }
		to { background-position: 100%; }
	}
}