nav {
	padding: {
		top: calc(4px - .1vw);
		right: calc(16px + .4vw);
		left: calc(10px + .8vw);
	};
}

h3 {
	font: {
		family: 'Nunito Semi Bold', Arial, sans-serif;
		size: calc(24px + .3vw);
	};
	margin: 0.35em 0;
	text-align: left;
	color: var(--header-color);
}
