header {
	padding-bottom: 3vh;
	padding-top: calc(14px + .3621vw);
	grid-row: 1;
}

.glint {
	background-image: linear-gradient(#fff, #fff);
}

#Title {
	display:inline-block;
	color: transparent;
	background: {
		size: 400% 100%;
		clip: text;
		position: 100%;
	};
	animation: {
		name: slideIn;
		duration: .6s;
		timing-function: cubic-bezier(.46,.03,.52,.96);
		fill-mode: forwards;
		delay: .25s;
	};
	font: {
		size: calc(40px + 1vw);
		family: "Nunito Extra Bold", Arial, sans-serif;
		weight: 700;
	};
	margin: {
		top: 0;
		left: .5vh;
		bottom: .32vw;
	};
	
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#Subtitle {
	display: inline;
	position: relative;
	left: 7px;
	
	font: {
		size: calc(16px + .4vw);
		weight: 400;
	};
	
	padding-left: 0;
	text-align: left;
	
	transition: all .15s ease-in-out;
	line-height: 100%;
}

h3#PageLink {
	display: flex;
	align-items: center;
	float: right;
	font-size: calc(22px + 0.3vw);
	margin-bottom: 0;
	
	text-decoration: underline var(--link-color);
	
	svg#Chevron {
		vertical-align: middle;
		fill: var(--link-color);
	}
	
	&:hover {
		text-decoration: none;
		svg#Chevron {
			fill: var(--second-link-color);
		}
	}
}

.rightChev {
	position: relative;
	top: -.1vh;
	left: 8px;
}

.leftChev {
	position: relative;
	top: -.1vh;
	left: -8px;
}

@keyframes slideIn {
	from { background-position: 100%; }
	to { background-position: 0; }
}