:root {
	--header-color: #fff;
	--hi-header-color: var(--secondary-accent);
}

header {
	padding-bottom: calc(10px + .2621vw);
	padding-top: calc(14px + .3621vw);
	grid-row: 1;
}

.majorGlint {
	background-image: linear-gradient(78deg, #FC5C7D, #FC5C7D, #6A82FB, #FC5C7D, #6A82FB, #FC5C7D, transparent, transparent, transparent);
}

.minorGlint {
	background-image: linear-gradient(78deg, #fff, #fff, #fff, #fff, #FC5C7D, #FC5C7D,  #6A82FB, #FC5C7D, #6A82FB, #FC5C7D, transparent, transparent, transparent);
}

#Title {
	display:inline-block;
	color: transparent;
	background: {
		size: 400% 100%;
		clip: text;
		position: 100%;
	};
	animation: {
		name: slideIn;
		duration: .6s;
		timing-function: cubic-bezier(.46,.03,.52,.96);
		fill-mode: forwards;
		delay: .25s;
	};
	font: {
		size: calc(40px + 1vw);
		family: "Nunito Extra Bold", Arial, sans-serif;
		weight: 700;
	};
	margin: {
		top: 0;
		bottom: .32vw;
	};
	
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#Subtitle {
	display: inline;
	position: relative;
	left: 7px;
	
	font: {
		size: calc(16px + .4vw);
		weight: 400;
	};
	
	padding-left: 0;
	text-align: left;
	
	transition: all .15s ease-in-out;
	line-height: 100%;
	//color: var(--link-color);
	
	&:hover {
		color: var(--second-link-color);
	}
}

a {
	font-size: unset;
}

h3#PageLink {
	display: flex;
	align-items: center;
	float: right;
	
	
	cursor: pointer;
	text-decoration: underline var(--link-color);
	
	svg#Chevron {
		vertical-align: middle;
		
		fill: var(--link-color);
		cursor: pointer;
	}
	
	&:hover {
		text-decoration: none;
		svg#Chevron {
			fill: var(--second-link-color);
		}
	}
}

.rightChev {
	position: relative;
	top: -.1vh;
	left: 8px;
}

.leftChev {
	position: relative;
	top: -.1vh;
	left: -8px;
}

@keyframes slideIn {
	from { background-position: 100%; }
	to { background-position: 0; }
}