:root {
	--panel-bg-color: #191B1C;
	--panel-hi-bg-color: #161819;
	--outline-color: #0F121D;
}

%section {
	background-color: var(--panel-bg-color);
	border-left: var(--med-border) solid var(--outline-color);
	
	padding: calc(8px + 1vw) calc(12px + .3521vw) 0 calc(12px + .3521vw);
	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: var(--panel-hi-bg-color);
		border-left: var(--lrg-border) solid var(--outline-color);
		
		padding-right: calc(9px + .3521vw);
		.small-spacer {
			padding-right: var(--lrg-border);
		}
	}
}

#MainDiv {
	margin: calc(14px + .3621vw) 0;
}

div#ContentDiv {
	grid-row: 2;
}

.panel {
	// First div
	&:first-child {
		@extend %section;
		border-radius: var(--slight-radius) var(--slight-radius) 0 0;
	}
	
	// Any middle divs
	&:not(:first-child, :last-child) {
		@extend %section;
	}
	
	// Last div
	&:last-child {
		@extend %section;
		padding: calc(8px + 1vw) calc(12px + .3521vw) calc(14px + .3621vw) calc(14px + .3621vw);
		
		border: {
			radius: 0 0 var(--slight-radius) var(--slight-radius);
			color: var(--outline-color);
			style: solid;
			width: 0 0 var(--med-border) var(--med-border);
		};
		
		&:hover {
			border-width: 0 0 var(--lrg-border) var(--lrg-border);
			padding: calc(8px + 1vw) calc(9px + .3521vw) calc(11px + .3621vw) calc(14px + .3621vw);
		}
	}
}

.lone-section {
	@extend .panel, :last-child;
	border-radius: var(--slight-radius);
	margin-bottom: calc(14px + .3621vw);
}

hr.small-spacer {
	max-width: 80%;
	height: 0;
	border: 0;
	margin: 0 auto;
	border-bottom: 1px dashed #434140;
}