:root {
	--panel-bg-color: rgb(25, 27, 28);
	--panel-bg-color-hi: rgb(17, 19, 20);
	--outline-color: rgba(255, 255, 255, .1);
	--outline-color-hi: rgba(255, 255, 255, .2);
}

%section {
	background-color: var(--panel-bg-color);
	border: var(--sm-border) solid var(--outline-color);
	
	padding: calc(8px + 1vw) calc(12px + .3521vw) 0 calc(12px + .3521vw);
	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: var(--panel-bg-color-hi);
		border-color: var(--outline-color-hi);
	}
}

div#ContentDiv {
	grid-row: 2;
}

.panel {
	// First div
	&:first-child {
		@extend %section;
		border: {
			radius: var(--slight-radius) var(--slight-radius) 0 0;
			bottom-width: 0;
			top-width: var(--sm-border);
		};
	}
	
	// Any middle divs
	&:not(:first-child, :last-child) {
		@extend %section;
		border-bottom-width: 0;
		border-top-width: 0;
	}
	
	// Last div
	&:last-child {
		@extend %section;
		padding-bottom: calc(14px + .3621vw);
		border-radius: 0 0 var(--slight-radius) var(--slight-radius);
		border-top-width: 0;
	}
}

div.lone-section {
	@extend .panel, :last-child;
	border: {
		top-width: var(--sm-border) !important;
		radius: var(--slight-radius) !important;
	};
	margin-bottom: calc(14px + .3621vw);
}

hr.small-spacer {
	max-width: 90%;
	height: 0;
	border: 0;
	margin: 0 auto;
	border-bottom: 1px dashed #434140;
}