@media (prefers-reduced-motion) {
	:root {
		--first-header-color: #fff;
		--second-header-color: #fff;
		--second-link-color: var(--link-color);
	}
	
	@media (scripting: none) or (prefers-reduced-motion)  or (not (update: fast)) {
		.animate {
			opacity: 1;
			filter: none;
			transform: none;
		}
	}
	
	@keyframes slideIn {
		from { background-position: 100%; }
		to { background-position: 100%; }
	}
}