:root {
	--first-background-color: #191B1C;
	--second-background-color: #161819;
	--outline-color: #0F121D;
}

%section {
	background-color: var(--first-background-color);
	padding: calc(8px + 1vw) calc(12px + .3521vw) 0 calc(12px + .3521vw);
	border-left: calc(3px + .055vw) solid var(--outline-color);
	transition: all .15s ease-in-out;
	
	&:hover {
		background-color: var(--second-background-color);
		
		.small-spacer {
			padding-right:calc(6px + .055vw);
		}
	}
}

.mainDiv {
	margin-top: calc(14px + .3621vw);
	margin-bottom: calc(14px + .3621vw);
}

.panel {
	&:first-child {
		@extend %section;
		padding: calc(12px + .3521vw + .83em) calc(12px + .3521vw) 0 calc(12px + .3521vw);
		border-radius: calc(2px + .2vw) calc(2px + .2vw) 0 0;
		
		&:hover {
			border-left: calc(6px + .055vw) solid var(--outline-color);
			//padding: calc(12px + .3521vw + .83em) calc(9px + .3521vw) 0 calc(12px + .3521vw);
		}
	}
	
	// Any middle divs
	&:not(:first-child, :last-child) {
		@extend %section;
		
		&:hover {
			border-left: calc(6px + .055vw) solid var(--outline-color);
		}
	}
	
	&:last-child {
		@extend %section;
		padding: calc(8px + 1vw) calc(12px + .3521vw) calc(14px + .3621vw) calc(14px + .3621vw);
		border-radius: 0 0 calc(2px + .2vw) calc(2px + .2vw);
		border-color: var(--outline-color);
		border-style: solid;
		border-width: 0 0 calc(3px + .055vw) calc(3px + .055vw);
		
		&:hover {
			border-width: 0 0 calc(6px + .055vw) calc(6px + .055vw);
			padding: calc(8px + 1vw) calc(12px + .3521vw) calc(11px + .3621vw) calc(14px + .3621vw);
		}
	}
}

.lone-section {
	@extend .panel, :last-child;
	border-radius: calc(2px + .2vw);
	margin-bottom: calc(14px + .3621vw);
	
	&:hover {
		border-width: 0 0 calc(6px + .055vw) calc(6px + .055vw);
		padding: calc(8px + 1vw) calc(12px + .3521vw) calc(11px + .3621vw) calc(14px + .3621vw);
	}
}

.stick {
	margin-top: 13.2vh;
}

hr.small-spacer {
	max-width: 80%;
	height: 0;
	border: 0;
	margin: 0 auto;
	border-bottom: 1px dashed #434140;
}